:root {
  background-color: #f0f0f0;
  margin: 0; /* 페이지의 기본 여백 제거 */
  padding: 0; /* 페이지의 기본 패딩 제거 */
}

.home-container {
  padding: 0 20px;
  margin-top: 120px; /* Header 아래에 적절한 간격 */
  width: 100vw;
}

.bggra {
  position: relative; /* bggra를 기준으로 이미지 위치 조정 */
  top: 0%;
  width: 1280px;
  height: 218px;
  flex-shrink: 0;
  border-radius: 1280px;
  opacity: 0.2;
  background: linear-gradient(135deg, #c2c7ff 0%, #ad99ff 100%);
  filter: blur(50px);
}

.bigLogo {
  position: absolute; /* 부모 요소(bggra)를 기준으로 절대 위치 */
  top: 30%; /* 세로 방향 중앙 */
  left: 50%; /* 가로 방향 중앙 */
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  z-index: 1; /* 이미지가 배경 위에 오도록 설정 */
  width: 300px;
  height: auto;
}

h4 {
  position: absolute;
  top: 35%; /* 세로 방향 중앙 */
  left: 50%; /* 가로 방향 중앙 */
  transform: translate(-50%, -50%); /* 중앙 정렬 */
  z-index: 1; /* 이미지가 배경 위에 오도록 설정 */
  color: gray;
}

.search-bar {
  background: white;
  display: flex;
  align-items: center;
  border-radius: 25px;
  padding: 10px;
  /* max-width: 400px; */
  margin: 0 auto; /* 중앙 정렬 */
  width: 60%;
  box-shadow: 0px 5px 30px #e1e4ff;
}

.search-input {
  flex: 1;
  border: none;
  outline: none;
  background: none;
  padding: 5px;
  padding-left: 20px;
  font-size: 16px;
}

.search-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 18px;
  padding: 7px;
  padding-right: 20px;
  color: #333;
}

.search-button:hover {
  color: #000; /* 돋보기 버튼에 호버 효과 */
}

.p {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
}

.subject-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 80px; /* searchbar와 list 사이 적절한 간격 */
  /* width: 80%; */
}

.subject-item {
  width: 55%;
  margin-bottom: 10px;
  padding: 30px;
  background-color: #f9f9f9;
  border-radius: 30px;
  text-align: left;
}

.subject-item h3 {
  margin: 3px;
  font-size: 1.7em;
}

.subject-item p {
  margin: 7px;
  margin-left: 3px;
}
