/* .login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.p {
  font-size: 24px;
  text-align: center;
}
 */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  background-color: #f9f9f9;
}

h1 {
  font-size: 36px;
  margin-bottom: 30px;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
}

.login-input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.login-button {
  width: 100%;
  padding: 10px;
  background-color: #4a99cf;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-bottom: 20px;
}

.login-button:hover {
  background-color: #357abd;
}

.signup-prompt {
  text-align: center;
  font-size: 14px;
}

.signup-link {
  background: none;
  border: none;
  color: #4a99cf;
  cursor: pointer;
  text-decoration: underline;
  font-size: 14px;
}

.signup-link:hover {
  color: #357abd;
}
