.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  /* background-color: #f0f0f0; */
}

.ptag {
  font-size: 36px;
  font-weight: bold;
}
.agreetag {
  align-self: flex-start;
  margin-left: 25%;
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: bold;
}
.signin-container form {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: center; */
  width: 50%;
}

.signin-container input {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
}

.signin-container button {
  padding: 10px;
  background-color: #bdcce6;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: 50%;
  height: 100%;
}

.signin-container button:hover {
  background-color: #4a99cf;
}
.terms-container {
  width: 50%;
  height: 5%;
  display: flex;
  align-items: center;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 20px;
  box-sizing: border-box;
}
.terms-label {
  display: flex;
  align-items: center;
  /* justify-items: center; */
  /* margin-left: auto; */
  white-space: nowrap;
}
.terms-right {
  margin-left: auto;
}
.terms-link {
  color: #2d8c9d;
  cursor: pointer;
}

.terms-content {
  margin-top: 1px;
  padding: 10px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  max-height: 300px;
  overflow-y: auto;
  width: 30%;
  margin-bottom: 30px;
}
.email-verification-container {
  display: flex;
  width: 50%;
  margin-bottom: 15px;
  gap: 10px; /* 입력칸과 버튼 사이의 간격 */
}

.email-verification-container input {
  width: 80%;
  height: 70%;
}
.email-verification-container button {
  width: 20%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}

.email-check-container {
  display: flex;
  justify-items: left;
  /* align-items: left; */
  width: 40%;
  margin-bottom: 15px;
  gap: 10px;
}
.email-check-container input {
  width: 50%;
  height: 70%;
}
.email-check-container button {
  width: 30%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
}
