:root {
  background-color: #f0f0f0;
  margin: 0; /* 페이지의 기본 여백 제거 */
  padding: 0; /* 페이지의 기본 패딩 제거 */
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}
